<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>

{%block avanzu_profile_error%}

{%if app.session.flashBag.has('error')%}
{% for flash in app.session.flashBag.get('error')%}
        {{flash}}
{%endfor%}
{%endif%}
{%endblock%} 
        
{%block avanzu_profile_success%}

{%if app.session.flashBag.has('success')%}
{% for flash in app.session.flashBag.get('success')%}
        {{flash}}
{%endfor%}
{%endif%}        
{%endblock%}        
        
{% block avanzu_profile_body %}{%endblock%}


</body>