{%extends 'AvanzuProfileBundle::layout.html.twig'%}
{% block avanzu_profile_body %}
<form action="{{ path('profile_change_password')}}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" />
</form>
{%endblock%}
